<html>
<head>
    <title>Login</title>
</head>
<body>

    <form action="/login" method="post" autocomplete="off">
        <input name="email" type="text" alt="Email" placeholder="Email" />
        <br />
        <input name="password" type="password" alt="Password" placeholder="Password" />
        <br />
        <button type="submit">Login</button>
    </form>
    <a href="/reset_password">I forgot my password</a>
    <br />
    <a href="/register">I don't even have an account!!!!</a>
</body>
</html>