<html>
<head>
    <title>Register</title>
</head>
<body>

    <form action="/register" method="post" autocomplete="off">
        <input name="f_name" type="text" alt="First Name" placeholder="First Name" />
        <br />
        <input name="l_name" type="text" alt="Last Name" placeholder="Last Name" />
        <br />
        <input name="email" type="text" alt="Email" placeholder="Email" />
        <br />
        <button type="submit">Register</button>
    </form>
    <p>You'll likely get a new email from a cumbersome new friend so you can confirm your password.</p>
</body>
</html>