<html>
<head>
    <title>Set/Reset Your Password</title>
</head>
<body>
    <p>You're logged in as {{ email }}</p>
    <form action="/reset_password" method="post" autocomplete="off">
        <input name="password" type="password" alt="Password" placeholder="Password" />
        <br />
        <input name="confirmation" type="password" alt="Confirmed Password" placeholder="Confirm Password" />
        <br />
        <button type="submit">Set my password</button>
    </form>
</body>
</html>